In [1]:
sc

In [2]:
spark

In [3]:
myrdd = sc.textFile("file:/home/student/Data/kv1.txt")

In [4]:
myrdd.take(5)

['238\x01val_238',
 '86\x01val_86',
 '311\x01val_311',
 '27\x01val_27',
 '165\x01val_165']

In [5]:
splitted_myrdd = myrdd.map(lambda line :line.split("\x01"))
splitted_myrdd.take(5)

[['238', 'val_238'],
 ['86', 'val_86'],
 ['311', 'val_311'],
 ['27', 'val_27'],
 ['165', 'val_165']]

In [6]:
def replacestr(string, srch,repl):
    return string.replace(srch,repl)

replstr_myrdd = splitted_myrdd.map(lambda array: replacestr(array[1],"val_","value is "))
replstr_myrdd.take(5)

['value is 238', 'value is 86', 'value is 311', 'value is 27', 'value is 165']

In [7]:
values_myrdd = replstr_myrdd.map(lambda string: string[9:])
values_myrdd.take(5)

['238', '86', '311', '27', '165']

In [8]:
tup_myrdd = values_myrdd.map(lambda string: (int(string),string))
tup_myrdd.take(5)

[(238, '238'), (86, '86'), (311, '311'), (27, '27'), (165, '165')]

In [9]:
def evenNum(num):
    if num % 2 ==0:
        return True
    else:
        return False
    
evenRDD = tup_myrdd.filter(lambda tupl:evenNum(tupl[0]))
evenRDD.take(5)

[(238, '238'), (86, '86'), (278, '278'), (98, '98'), (484, '484')]

In [10]:
evenRDD2 = tup_myrdd.filter(lambda tupl: not (tupl[0]%2))
evenRDD2.take(5)

[(238, '238'), (86, '86'), (278, '278'), (98, '98'), (484, '484')]

In [17]:
def checkINT(listTupl):
    for tupl in listTupl:
        for element in tupl:
            if type(element) is int:
                element +=1000;
                print(element)
            elif type(element) is str:
                print(element*2)
            else:
                print("Not int nor string")
              


checkINT(evenRDD.take(5))

1238
238238
1086
8686
1278
278278
1098
9898
1484
484484

In [2]:
alice_rdd = sc.textFile("file:/home/student/Data/alice_in_wonderland.txt")


def makeCap(string):
    capWords = ""
    for word in string.split(" "):
        capWords += (word[0:1].upper() + word[1:])
        capWords += " "
    return capWords

capRDD = alice_rdd.map(makeCap)
capRDD.take(5)
#print(makeCap(alice_rdd.take(5)[0]))

['The Project Gutenberg EBook Of Aliceâ€™s Adventures In Wonderland, By Lewis Carroll ',
 ' ',
 'This EBook Is For The Use Of Anyone Anywhere In The United States And ',
 'Most Other Parts Of The World At No Cost And With Almost No Restrictions ',
 'Whatsoever. You May Copy It, Give It Away Or Re-use It Under The Terms ']

In [3]:
##############lab3###################

In [4]:
access_key = "AKIAZ5TC4YPAGY7TXMGD" 
secret_key = "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" 
hadoop_conf=sc._jsc.hadoopConfiguration() 
hadoop_conf.set("fs.s3a.impl", 
"org.apache.hadoop.fs.s3a.S3AFileSystem") 
hadoop_conf.set("fs.s3a.access.key", access_key) 
hadoop_conf.set("fs.s3a.secret.key", secret_key) 
s3RDD = sc.textFile("s3a://rdd-eltaibybelal-bucket/weblogs/weblog_20210923-015015.log")

In [5]:
jsonRDD = sc.wholeTextFiles("/user/student/json_files/")
jsonRDD.take(1)

[('hdfs://localhost:9000/user/student/json_files/1.json',
  '[\n\t{\n\t\t"id": 1955,\n\t\t"cust_since": "2022-06-04",\n\t\t"phone_model": "Galaxy s21 Ultra"\n\t},\n\t{\n\t\t"id": 317,\n\t\t"cust_since": "2019-09-04",\n\t\t"phone_model": "Galaxy Z Fold3"\n\t},\n\t{\n\t\t"id": 101,\n\t\t"cust_since": "2019-01-02",\n\t\t"phone_model": "Galaxy A52s"\n\t},\n\t{\n\t\t"id": 5265,\n\t\t"cust_since": "2020-04-11",\n\t\t"phone_model": "Galaxy A52s"\n\t},\n\t{\n\t\t"id": 6219,\n\t\t"cust_since": "2019-06-15",\n\t\t"phone_model": "Galaxy s21 Ultra"\n\t},\n\t{\n\t\t"id": 1892,\n\t\t"cust_since": "2019-01-01",\n\t\t"phone_model": "Galaxy A12"\n\t}\n]')]

In [6]:
#2.1.5
IpUserRDD = s3RDD.map(lambda line : line.split(" "))\
                 .map(lambda lst: (lst[0],lst[2]))
IpUserRDD.take(5)

[('167.78.179.49', '3838'),
 ('123.217.66.5', '1098'),
 ('8.226.10.230', '3297'),
 ('103.78.69.174', '4828'),
 ('114.99.83.166', '20')]

In [7]:
#2.2
import json
jsonInfoRDD = jsonRDD.flatMap(lambda tup: json.loads(tup[1]))\
                     .map(lambda kv:(kv.get("id",None),(kv.get("cust_since",None)\
                                                ,kv.get("phone_model",None))))
jsonInfoRDD.take(5)

[(1955, ('2022-06-04', 'Galaxy s21 Ultra')),
 (317, ('2019-09-04', 'Galaxy Z Fold3')),
 (101, ('2019-01-02', 'Galaxy A52s')),
 (5265, ('2020-04-11', 'Galaxy A52s')),
 (6219, ('2019-06-15', 'Galaxy s21 Ultra'))]

In [11]:
#2.3
words = alice_rdd.flatMap(lambda line: line.split(' ')).count()
                  
print(words)

31192

In [12]:
distinct_words = alice_rdd.flatMap(lambda line: line.split(' '))\
                    .distinct().count()
print(distinct_words)

5981

In [13]:
#3

In [14]:
fruit1 = ["Banana","Pear","Kiwi","Peach","Grape"]
fruit1RDD = sc.parallelize(fruit1)
fruit1RDD.collect()

['Banana', 'Pear', 'Kiwi', 'Peach', 'Grape']

In [16]:
fruit2 = ["Strawberry","Kiwi","watermelon","Banana","Apple"]
fruit2RDD = sc.parallelize(fruit2)
fruit2RDD.collect()

['Strawberry', 'Kiwi', 'watermelon', 'Banana', 'Apple']

In [17]:
unionRDD = fruit1RDD.union(fruit2RDD)
unionRDD.collect()

['Banana',
 'Pear',
 'Kiwi',
 'Peach',
 'Grape',
 'Strawberry',
 'Kiwi',
 'watermelon',
 'Banana',
 'Apple']

In [18]:
#3.3
intersectRDD = fruit1RDD.intersection(fruit2RDD)
intersectRDD.collect()

['Banana', 'Kiwi']

In [19]:
#3.4
subtractRDD = fruit1RDD.subtract(fruit2RDD)
subtractRDD.collect()

['Peach', 'Pear', 'Grape']

In [20]:
#3.5
cartesianRDD = fruit1RDD.cartesian(fruit2RDD)
cartesianRDD.collect()

[('Banana', 'Strawberry'),
 ('Banana', 'Kiwi'),
 ('Banana', 'watermelon'),
 ('Banana', 'Banana'),
 ('Banana', 'Apple'),
 ('Pear', 'Strawberry'),
 ('Kiwi', 'Strawberry'),
 ('Pear', 'Kiwi'),
 ('Pear', 'watermelon'),
 ('Kiwi', 'Kiwi'),
 ('Kiwi', 'watermelon'),
 ('Pear', 'Banana'),
 ('Pear', 'Apple'),
 ('Kiwi', 'Banana'),
 ('Kiwi', 'Apple'),
 ('Peach', 'Strawberry'),
 ('Grape', 'Strawberry'),
 ('Peach', 'Kiwi'),
 ('Peach', 'watermelon'),
 ('Grape', 'Kiwi'),
 ('Grape', 'watermelon'),
 ('Peach', 'Banana'),
 ('Peach', 'Apple'),
 ('Grape', 'Banana'),
 ('Grape', 'Apple')]

In [21]:
#4
def perPartition(it):
    print("I just did a heavy operation once per partition")
    for item in it:
        yield "updated_" + item

In [25]:
my_records = ["record1", "record2", "record3", "record4", "record5"] 
recordsRDD = sc\
        .parallelize(my_records,2)\
        .mapPartitions(lambda iterator: perPartition(iterator))
recordsRDD.collect()

I just did a heavy operation once per partition
I just did a heavy operation once per partition

['updated_record1',
 'updated_record2',
 'updated_record3',
 'updated_record4',
 'updated_record5']

In [26]:
#4.2
def perPartitionIndex(index,it):
    print("I just did a heavy operation in partition:",index)
    for item in it:
        yield "updated_" + str(index) + "_" + item

In [28]:
records2RDD =sc\
    .parallelize(my_records,2)\
    .mapPartitionsWithIndex(lambda index,iterator: perPartitionIndex(index,iterator))
records2RDD.collect()

I just did a heavy operation in partition: 0
I just did a heavy operation in partition: 1

['updated_0_record1',
 'updated_0_record2',
 'updated_1_record3',
 'updated_1_record4',
 'updated_1_record5']

In [29]:
#4.3
def actionPerPartition(it):
    print("I just did a foreachpartition action")

In [30]:
recordsRDD.foreachPartition(actionPerPartition)

I just did a foreachpartition action
I just did a foreachpartition action

In [31]:
#4.4
def actionPerPartition2(it):
    print("I have",len(list(it)), "elements")

In [32]:
recordsRDD.foreachPartition(actionPerPartition2)

I just did a heavy operation once per partition
I have 2 elements
I just did a heavy operation once per partition
I have 3 elements

In [33]:
#5

In [40]:
#5.1
def printElements(iterator):
    for item in iterator: 
        print(item)
    print("**************************")

In [41]:
orderNums = [1,2,3,4,5,6,7,8,9]
orderRDD = sc.parallelize(orderNums,4)
print("Number of partitions:", orderRDD.getNumPartitions())
orderRDD.foreachPartition(printElements)

Number of partitions: 4

1
2
**************************
3
4
**************************
5
6
**************************
7
8
9
**************************

In [42]:
unitRDD = orderRDD.coalesce(2)
print("Number of partitions:", unitRDD.getNumPartitions())
unitRDD.foreachPartition(printElements)

Number of partitions: 2

1
2
3
4
**************************
5
6
7
8
9
**************************

In [45]:
repartRDD = orderRDD.repartition(4)
print("Number of partitions:", repartRDD.getNumPartitions())
repartRDD.foreachPartition(printElements)

Number of partitions: 4

1
2
**************************
3
4
**************************
5
6
7
8
9
**************************
**************************

In [46]:
#6

In [48]:
import random
seed  = int(random.random())
tol00RDD = sc.parallelize(range(100))
print(tol00RDD.sample(False,0.2,seed).collect())

[14, 24, 29, 42, 44, 46, 63, 81, 82, 84, 85]

In [51]:
tol00RDD =sc.parallelize(range(100))
print(tol00RDD.sample(True,0.2,3654).collect())

[0, 1, 1, 12, 25, 26, 32, 35, 38, 39, 60, 71, 77, 81, 84, 85, 99]

In [52]:
#####################lab4####################

In [53]:
mydata1 = ["Henry,42,M","Jessica,16,F","sharon,21,F","Jonathan,27,M",\
           "Shaun,11,M","Jasmine,62,F"]

In [64]:
lab4RDD = sc.parallelize(mydata1).map(lambda line: line.split(','))\
    #.keyBy(lambda collection: collection[0])
lab4RDD.take(5)

[['Henry', '42', 'M'],
 ['Jessica', '16', 'F'],
 ['sharon', '21', 'F'],
 ['Jonathan', '27', 'M'],
 ['Shaun', '11', 'M']]

In [65]:
lab4RDD = sc.parallelize(mydata1).map(lambda line: line.split(','))\
    .keyBy(lambda collection: collection[0])
lab4RDD.take(5)

[('Henry', ['Henry', '42', 'M']),
 ('Jessica', ['Jessica', '16', 'F']),
 ('sharon', ['sharon', '21', 'F']),
 ('Jonathan', ['Jonathan', '27', 'M']),
 ('Shaun', ['Shaun', '11', 'M'])]

In [66]:
lab4RDD = sc.parallelize(mydata1).map(lambda line: line.split(','))\
    .map(lambda collection: (collection[0],collection))
lab4RDD.take(5)

[('Henry', ['Henry', '42', 'M']),
 ('Jessica', ['Jessica', '16', 'F']),
 ('sharon', ['sharon', '21', 'F']),
 ('Jonathan', ['Jonathan', '27', 'M']),
 ('Shaun', ['Shaun', '11', 'M'])]

In [67]:
lab4RDD = sc.parallelize(mydata1).map(lambda line: line.split(','))\
    .map(lambda collection: (collection[0],(int(collection[1]),collection[2])))
lab4RDD.take(5)

[('Henry', (42, 'M')),
 ('Jessica', (16, 'F')),
 ('sharon', (21, 'F')),
 ('Jonathan', (27, 'M')),
 ('Shaun', (11, 'M'))]

In [69]:
mydata2 = ["Henry,red:blue", 
 "Jessica,pink:turquoise", 
 "Sharon,blue:pink", 
 "Jonathan,blue:green", 
 "Shaun,sky blue:red", 
 "Jasmine,yellow:orange"]

In [73]:
favColorRDD = sc.parallelize(mydata2).map(lambda line: line.split(","))\
        .map(lambda line: (line[0],line[1]) )
        
favColorRDD.take(5)

[('Henry', 'red:blue'),
 ('Jessica', 'pink:turquoise'),
 ('Sharon', 'blue:pink'),
 ('Jonathan', 'blue:green'),
 ('Shaun', 'sky blue:red')]

In [75]:
#1.4
favColorRDD = sc.parallelize(mydata2).map(lambda line: line.split(","))\
        .map(lambda line: (line[0],line[1]) )\
        .flatMapValues(lambda colors:colors.split(":"))
favColorRDD.take(5)

[('Henry', 'red'),
 ('Henry', 'blue'),
 ('Jessica', 'pink'),
 ('Jessica', 'turquoise'),
 ('Sharon', 'blue')]

In [76]:
#2

In [79]:
genderSumAge = sc.parallelize(mydata1)\
        .map(lambda line: line.split(","))\
        .map(lambda collection: (collection[2],int(collection[1] )))
genderSumAge.take(5)

[('M', 42), ('F', 16), ('F', 21), ('M', 27), ('M', 11)]

In [80]:
genderSumAge = sc.parallelize(mydata1)\
        .map(lambda line: line.split(","))\
        .map(lambda collection: (collection[2],int(collection[1] )))\
        .reduceByKey(lambda v1,v2:v1+v2)
genderSumAge.take(5)

[('M', 80), ('F', 99)]

In [81]:
genderMaxAge = sc.parallelize(mydata1)\
        .map(lambda line: line.split(","))\
        .map(lambda collection: (collection[2],int(collection[1] )))\
        .reduceByKey(lambda v1,v2: max(v1,v2))
genderMaxAge.take(5)

[('M', 42), ('F', 62)]

In [82]:
genderMinAge = sc.parallelize(mydata1)\
        .map(lambda line: line.split(","))\
        .map(lambda collection: (collection[2],int(collection[1] )))\
        .reduceByKey(lambda v1,v2: min(v1,v2))
genderMinAge.take(5)

[('M', 11), ('F', 16)]

In [84]:
#2.4
countGender = sc.parallelize(mydata1)\
        .map(lambda line: line.split(","))\
        .map(lambda collection: (collection[2],int(collection[1] )))\
        .countByKey()
print(countGender)

defaultdict(<class 'int'>, {'M': 3, 'F': 3})

In [89]:
#2.5
sortAgeRDD = sc.parallelize(mydata1)\
        .map(lambda line: line.split(","))\
        .map(lambda collection: (int(collection[1]),collection[0]))\
        .sortByKey(ascending = False)\
        .map(lambda tup:(tup[1],tup[0]))
sortAgeRDD.take(5)

[('Jasmine', 62),
 ('Henry', 42),
 ('Jonathan', 27),
 ('sharon', 21),
 ('Jessica', 16)]

In [91]:
#2.6
colorLikers = sc.parallelize(mydata2)\
    .map(lambda line: line.split(","))\
    .map(lambda collection: (collection[0],collection[1]))\
    .flatMapValues(lambda colors: colors.split(":"))\
    .map(lambda tup: (tup[1],tup[0] ))\
    .groupByKey()

for color in colorLikers.collect(): 
    print(color[0]) 
    for person in color[1]: 
        print(" ", person)

orange
  Jasmine
blue
  Henry
  Sharon
  Jonathan
red
  Henry
  Shaun
pink
  Jessica
  Sharon
turquoise
  Jessica
green
  Jonathan
sky blue
  Shaun
yellow
  Jasmine

In [92]:
###2.7##

In [94]:
ZeroValue = []
def seqop(accumulator, element):
        accumulator.append(element)
        return accumulator

def comOp(accumulator1,accumulator2):
    return accumulator1 + accumulator2

colorLikers2 = sc.parallelize(mydata2,2)\
    .map(lambda line: line.split(","))\
    .map(lambda collection: (collection[0],collection[1]))\
    .flatMapValues(lambda colors: colors.split(":"))\
    .map(lambda tup: (tup[1],tup[0])) \
    .aggregateByKey(ZeroValue,seqop,comOp)

colorLikers2.collect()

[('green', ['Jonathan']),
 ('sky blue', ['Shaun']),
 ('yellow', ['Jasmine']),
 ('orange', ['Jasmine']),
 ('red', ['Henry', 'Shaun']),
 ('blue', ['Henry', 'Sharon', 'Jonathan']),
 ('pink', ['Jessica', 'Sharon']),
 ('turquoise', ['Jessica'])]

In [96]:
##2.8
data1RDD = sc.parallelize(mydata1)\
    .map(lambda line: line.split(","))\
    .map(lambda collection: (collection[0],[collection[1],collection[2] ] ))

data1RDD.take(5)

[('Henry', ['42', 'M']),
 ('Jessica', ['16', 'F']),
 ('sharon', ['21', 'F']),
 ('Jonathan', ['27', 'M']),
 ('Shaun', ['11', 'M'])]

In [100]:
data2RDD = sc.parallelize(mydata2)\
    .map(lambda line: line.split(","))\
    .map(lambda tup: (tup[0], [ tup[1].split(":")[0], tup[1].split(":")[1] ] ) )

data2RDD.take(5)

[('Henry', ['red', 'blue']),
 ('Jessica', ['pink', 'turquoise']),
 ('Sharon', ['blue', 'pink']),
 ('Jonathan', ['blue', 'green']),
 ('Shaun', ['sky blue', 'red'])]

In [103]:
joinedrdd= data1RDD.join(data2RDD)
joinedrdd.collect()

[('Jessica', (['16', 'F'], ['pink', 'turquoise'])),
 ('Jonathan', (['27', 'M'], ['blue', 'green'])),
 ('Henry', (['42', 'M'], ['red', 'blue'])),
 ('Jasmine', (['62', 'F'], ['yellow', 'orange'])),
 ('Shaun', (['11', 'M'], ['sky blue', 'red']))]

In [105]:
outRDD = joinedrdd.map(lambda tup: [tup[0], tup[1][0][0],tup[1][0][1],\
                                  tup[1][1][0],tup[1][1][1] ])
outRDD.collect()

[['Jessica', '16', 'F', 'pink', 'turquoise'],
 ['Jonathan', '27', 'M', 'blue', 'green'],
 ['Henry', '42', 'M', 'red', 'blue'],
 ['Jasmine', '62', 'F', 'yellow', 'orange'],
 ['Shaun', '11', 'M', 'sky blue', 'red']]

In [108]:
outRDD = joinedrdd.map(lambda tup: [tup[0], tup[1][0][0],tup[1][0][1],\
                                  tup[1][1][0],tup[1][1][1] ])

outRDD = outRDD.map(lambda lst: ",".join(lst))
outRDD.saveAsTextFile("/user/students/persons/")

outRDD.collect()

['Jessica,16,F,pink,turquoise',
 'Jonathan,27,M,blue,green',
 'Henry,42,M,red,blue',
 'Jasmine,62,F,yellow,orange',
 'Shaun,11,M,sky blue,red']