In [4]:
authorDF = spark.read.table("mydb.authors")
authorDF.show(5)

+---+----------+----------+--------------------+----------+--------------------+
| id|first_name| last_name|               email| birthdate|               added|
+---+----------+----------+--------------------+----------+--------------------+
|  1|    Walton|     Adams|barmstrong@exampl...|1989-03-01|1997-01-02 04:18:...|
|  2|  Marietta|     Walsh|hand.stella@examp...|2018-05-30|2010-08-26 18:20:...|
|  3|      Lily|Wintheiser|darren.blanda@exa...|1981-08-21|1973-06-11 07:28:...|
|  4|   Estevan|   Gleason|shanahan.aliyah@e...|2013-07-17|1995-01-29 16:08:...|
|  5|  Thaddeus|      Rowe|bednar.robin@exam...|2019-02-26|2017-01-05 04:13:...|
+---+----------+----------+--------------------+----------+--------------------+
only showing top 5 rows

In [5]:
authorDF = spark.read.table("mydb.authors").select("first_name","email","birthdate")

authorDF.show(5)

+----------+--------------------+----------+
|first_name|               email| birthdate|
+----------+--------------------+----------+
|    Walton|barmstrong@exampl...|1989-03-01|
|  Marietta|hand.stella@examp...|2018-05-30|
|      Lily|darren.blanda@exa...|1981-08-21|
|   Estevan|shanahan.aliyah@e...|2013-07-17|
|  Thaddeus|bednar.robin@exam...|2019-02-26|
+----------+--------------------+----------+
only showing top 5 rows

In [6]:
authorDF = spark.read.table("mydb.authors")\
.select("first_name","email","birthdate").orderBy("birthdate")

authorDF.show(5)

+----------+--------------------+----------+
|first_name|               email| birthdate|
+----------+--------------------+----------+
|  Roderick|bobby.conroy@exam...|1970-01-01|
|   Jeffery| verla17@example.org|1970-01-02|
|   Mikayla|  xwalsh@example.org|1970-01-05|
|       Lew|  emie19@example.net|1970-01-06|
|   Shannon|michele48@example...|1970-01-10|
+----------+--------------------+----------+
only showing top 5 rows

In [7]:
authorDF = spark.read.table("mydb.authors")\
.select("first_name","email","birthdate").orderBy("birthdate").limit(3)

authorDF.show(5)

+----------+--------------------+----------+
|first_name|               email| birthdate|
+----------+--------------------+----------+
|  Roderick|bobby.conroy@exam...|1970-01-01|
|   Jeffery| verla17@example.org|1970-01-02|
|   Mikayla|  xwalsh@example.org|1970-01-05|
+----------+--------------------+----------+

In [8]:
authorDF = spark.read.table("mydb.authors")\
.select("first_name","email","birthdate")\
.where("birthdate >='2000-01-01'")\
.orderBy("birthdate")

authorDF.show(5)

+----------+--------------------+----------+
|first_name|               email| birthdate|
+----------+--------------------+----------+
|Earnestine|junius98@example.net|2000-01-01|
|      Zoie|    jorn@example.org|2000-01-04|
|  Izabella|xmacejkovic@examp...|2000-01-07|
|    Maryse|nella.grant@examp...|2000-01-07|
|   Xzavier|josefina.lynch@ex...|2000-01-10|
+----------+--------------------+----------+
only showing top 5 rows

In [9]:
##########2#####

In [13]:
salesDF = spark.read.option("header","true").csv("sales.csv")
salesDF.printSchema()
salesDF.show(5)

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- ItemType: string (nullable = true)
 |-- SalesChannel: string (nullable = true)
 |-- OrderPriority: string (nullable = true)
 |-- UnitsSold: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- UnitCost: string (nullable = true)
 |-- TotalRevenue: string (nullable = true)
 |-- TotalCost: string (nullable = true)
 |-- TotalProfit: string (nullable = true)

+--------------------+-------+----------+------------+-------------+---------+---------+--------+------------+----------+-----------+
|              Region|Country|  ItemType|SalesChannel|OrderPriority|UnitsSold|UnitPrice|UnitCost|TotalRevenue| TotalCost|TotalProfit|
+--------------------+-------+----------+------------+-------------+---------+---------+--------+------------+----------+-----------+
|Middle East and N...|  Libya| Cosmetics|     Offline|            M|     8446|    437.2|  263.33|   3692591.2|2224085.18| 1468506.02|
|       North America| Canada|Vegetables|      Online|            M|     3018|   154.06|   90.93|   464953.08| 274426.74|  190526.34|
|Middle East and N...|  Libya| Baby Food|     Offline|            C|     1517|   255.28|  159.42|   387259.76| 241840.14|  145419.62|
|                Asia|  Japan|    Cereal|     Offline|            C|     3322|    205.7|  117.11|    683335.4| 389039.42|  294295.98|
|  Sub-Saharan Africa|   Chad|    Fruits|     Offline|            H|     9845|     9.33|    6.92|    91853.85|   68127.4|   23726.45|
+--------------------+-------+----------+------------+-------------+---------+---------+--------+------------+----------+-----------+
only showing top 5 rows

In [16]:
salesPartDF =  salesDF.select("Country","UnitsSold","UnitPrice","UnitCost")
salesPartDF.printSchema()
salesPartDF.show(5)

root
 |-- Country: string (nullable = true)
 |-- UnitsSold: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- UnitCost: string (nullable = true)

+-------+---------+---------+--------+
|Country|UnitsSold|UnitPrice|UnitCost|
+-------+---------+---------+--------+
|  Libya|     8446|    437.2|  263.33|
| Canada|     3018|   154.06|   90.93|
|  Libya|     1517|   255.28|  159.42|
|  Japan|     3322|    205.7|  117.11|
|   Chad|     9845|     9.33|    6.92|
+-------+---------+---------+--------+
only showing top 5 rows

In [17]:
calcRevDf = salesPartDF\
    .select(salesDF.Country,salesDF.UnitsSold.cast("float")*salesDF.UnitPrice.cast("float"))

calcRevDf.printSchema()
calcRevDf.show(5)

root
 |-- Country: string (nullable = true)
 |-- (CAST(UnitsSold AS FLOAT) * CAST(UnitPrice AS FLOAT)): float (nullable = true)

+-------+-----------------------------------------------------+
|Country|(CAST(UnitsSold AS FLOAT) * CAST(UnitPrice AS FLOAT))|
+-------+-----------------------------------------------------+
|  Libya|                                            3692591.2|
| Canada|                                            464953.06|
|  Libya|                                            387259.75|
|  Japan|                                             683335.4|
|   Chad|                                             91853.85|
+-------+-----------------------------------------------------+
only showing top 5 rows

In [23]:
calcRevenue = salesDF.UnitsSold.cast("float")*salesDF.UnitPrice.cast("float")
print(calcRevenue)

Column<'(CAST(UnitsSold AS FLOAT) * CAST(UnitPrice AS FLOAT))'>

In [25]:
calcRevDf = salesPartDF\
    .select(salesDF.Country,calcRevenue.alias("Sales_Revenue"))

calcRevDf.printSchema()
calcRevDf.show(5)

root
 |-- Country: string (nullable = true)
 |-- Sales_Revenue: float (nullable = true)

+-------+-------------+
|Country|Sales_Revenue|
+-------+-------------+
|  Libya|    3692591.2|
| Canada|    464953.06|
|  Libya|    387259.75|
|  Japan|     683335.4|
|   Chad|     91853.85|
+-------+-------------+
only showing top 5 rows

In [27]:
revItemCountryDF =salesDF.select(salesDF.Country,salesDF.ItemType,calcRevenue.alias("Sales_Revenue"))

revItemCountryDF.printSchema()
revItemCountryDF.show(5)

root
 |-- Country: string (nullable = true)
 |-- ItemType: string (nullable = true)
 |-- Sales_Revenue: float (nullable = true)

+-------+----------+-------------+
|Country|  ItemType|Sales_Revenue|
+-------+----------+-------------+
|  Libya| Cosmetics|    3692591.2|
| Canada|Vegetables|    464953.06|
|  Libya| Baby Food|    387259.75|
|  Japan|    Cereal|     683335.4|
|   Chad|    Fruits|     91853.85|
+-------+----------+-------------+
only showing top 5 rows

In [28]:
quota = 3000000
quotaMet = (revItemCountryDF.Sales_Revenue > quota)
revItemCountryQoutaDF = revItemCountryDF.withColumn("Quota_Met",quotaMet)
revItemCountryQoutaDF.printSchema()
revItemCountryQoutaDF.show(5)

root
 |-- Country: string (nullable = true)
 |-- ItemType: string (nullable = true)
 |-- Sales_Revenue: float (nullable = true)
 |-- Quota_Met: boolean (nullable = true)

+-------+----------+-------------+---------+
|Country|  ItemType|Sales_Revenue|Quota_Met|
+-------+----------+-------------+---------+
|  Libya| Cosmetics|    3692591.2|     true|
| Canada|Vegetables|    464953.06|    false|
|  Libya| Baby Food|    387259.75|    false|
|  Japan|    Cereal|     683335.4|    false|
|   Chad|    Fruits|     91853.85|    false|
+-------+----------+-------------+---------+
only showing top 5 rows

In [29]:
#2.6

In [32]:
amtQouta = 3000000
cntQouta = 5000

salesRevenue = salesDF.UnitsSold * salesDF.UnitPrice
qoutaMet = (salesRevenue > amtQouta) | (salesDF.UnitsSold > cntQouta)

revItemCountryQoutaDF = salesDF.withColumn("Sales_Revenue",salesRevenue)\
        .withColumn("Qouta_Met", qoutaMet)

revItemCountryQoutaDF.printSchema()
revItemCountryQoutaDF.show(5)

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- ItemType: string (nullable = true)
 |-- SalesChannel: string (nullable = true)
 |-- OrderPriority: string (nullable = true)
 |-- UnitsSold: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- UnitCost: string (nullable = true)
 |-- TotalRevenue: string (nullable = true)
 |-- TotalCost: string (nullable = true)
 |-- TotalProfit: string (nullable = true)
 |-- Sales_Revenue: double (nullable = true)
 |-- Qouta_Met: boolean (nullable = true)

+--------------------+-------+----------+------------+-------------+---------+---------+--------+------------+----------+-----------+------------------+---------+
|              Region|Country|  ItemType|SalesChannel|OrderPriority|UnitsSold|UnitPrice|UnitCost|TotalRevenue| TotalCost|TotalProfit|     Sales_Revenue|Qouta_Met|
+--------------------+-------+----------+------------+-------------+---------+---------+--------+------------+----------+-----------+------------------+---------+
|Middle East and N...|  Libya| Cosmetics|     Offline|            M|     8446|    437.2|  263.33|   3692591.2|2224085.18| 1468506.02|3692591.1999999997|     true|
|       North America| Canada|Vegetables|      Online|            M|     3018|   154.06|   90.93|   464953.08| 274426.74|  190526.34|         464953.08|    false|
|Middle East and N...|  Libya| Baby Food|     Offline|            C|     1517|   255.28|  159.42|   387259.76| 241840.14|  145419.62|         387259.76|    false|
|                Asia|  Japan|    Cereal|     Offline|            C|     3322|    205.7|  117.11|    683335.4| 389039.42|  294295.98| 683335.3999999999|    false|
|  Sub-Saharan Africa|   Chad|    Fruits|     Offline|            H|     9845|     9.33|    6.92|    91853.85|   68127.4|   23726.45|          91853.85|     true|
+--------------------+-------+----------+------------+-------------+---------+---------+--------+------------+----------+-----------+------------------+---------+
only showing top 5 rows

In [33]:
##3

In [34]:
salesDF.select("ItemType").groupBy("ItemType").count().show()

+---------------+-----+
|       ItemType|count|
+---------------+-----+
|      Baby Food|   87|
|         Cereal|   79|
|           Meat|   78|
|      Household|   77|
|     Vegetables|   97|
|      Beverages|  101|
|Office Supplies|   89|
|      Cosmetics|   75|
|  Personal Care|   87|
|         Fruits|   70|
|         Snacks|   82|
|        Clothes|   78|
+---------------+-----+

In [35]:
aggDF = salesDF.select("ItemType",salesDF.UnitsSold.cast("int"))\
        .groupBy("ItemType").mean("UnitsSold")

aggDF.printSchema()
aggDF.show()

root
 |-- ItemType: string (nullable = true)
 |-- avg(UnitsSold): double (nullable = true)

+---------------+-----------------+
|       ItemType|   avg(UnitsSold)|
+---------------+-----------------+
|      Baby Food|5018.597701149425|
|         Cereal|4908.215189873417|
|           Meat|5229.679487179487|
|      Household|4818.077922077922|
|     Vegetables|4858.515463917526|
|      Beverages|4999.059405940594|
|Office Supplies|4994.179775280899|
|      Cosmetics|          5680.96|
|  Personal Care|5468.091954022989|
|         Fruits|5073.214285714285|
|         Snacks|4818.829268292683|
|        Clothes|4845.974358974359|
+---------------+-----------------+

In [36]:
avgSalesRevenueDF =salesDF.withColumn("Sales_Revenue",salesRevenue)\
        .groupBy("ItemType").mean("Sales_Revenue")

avgSalesRevenueDF.printSchema()
avgSalesRevenueDF.show()

root
 |-- ItemType: string (nullable = true)
 |-- avg(Sales_Revenue): double (nullable = true)

+---------------+------------------+
|       ItemType|avg(Sales_Revenue)|
+---------------+------------------+
|      Baby Food|1281147.6211494252|
|         Cereal| 1009619.864556962|
|           Meat|2206349.4788461546|
|      Household| 3219776.932987012|
|     Vegetables|  748502.892371134|
|      Beverages|237205.36881188114|
|Office Supplies| 3252259.811460674|
|      Cosmetics|2483715.7120000003|
|  Personal Care| 446907.1554022989|
|         Fruits|  47333.0892857143|
|         Snacks|  735256.969756098|
|        Clothes|  529568.077948718|
+---------------+------------------+

In [37]:
##4

In [38]:
cntQuotaDict = {"Baby Food" : 5018, 
 "Cereal" :4908, 
 "Household" : 5229, 
 "Vegetables" : 4818, 
 "Beverages" : 4858, 
 "Office Supplies" : 4994, 
 "Cosmetics" : 5680, 
 "Personal Care" : 5468, 
 "Fruits" : 5073, 
 "Snacks" : 4818, 
 "Clothes" : 4845,}

In [39]:
def cntQuota(item, cnt): 
 meet_this = cntQuotaDict.get(item, None) 
 if meet_this == None: meet_this = 0 
 my_cnt = int(cnt) 
 return my_cnt > meet_this

In [40]:
from pyspark.sql.functions import udf, col 
from pyspark.sql.types import BooleanType 
quotaUDF = udf(lambda item, cnt: cntQuota(item, cnt), 
BooleanType())

In [42]:
quotaDF = salesDF.select("Country", quotaUDF(col("ItemType"),col("UnitsSold")).alias("Met_Quota"))

quotaDF.printSchema()
quotaDF.show()

root
 |-- Country: string (nullable = true)
 |-- Met_Quota: boolean (nullable = true)

+----------+---------+
|   Country|Met_Quota|
+----------+---------+
|     Libya|     true|
|    Canada|    false|
|     Libya|    false|
|     Japan|    false|
|      Chad|     true|
|   Armenia|     true|
|   Eritrea|    false|
|Montenegro|     true|
|   Jamaica|    false|
|      Fiji|    false|
|      Togo|    false|
|Montenegro|    false|
|    Greece|    false|
|     Sudan|    false|
|  Maldives|     true|
|Montenegro|    false|
|   Estonia|    false|
| Greenland|    false|
|Cape Verde|    false|
|   Senegal|     true|
+----------+---------+
only showing top 20 rows