In [1]:
authorsDF = spark.sql("select * from mydb.authors limit 10")
authorsDF.printSchema()
authorsDF.show()

2024-08-31 23:05:58,805 WARN conf.HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
2024-08-31 23:05:58,806 WARN conf.HiveConf: HiveConf of name hive.stats.retries.wait does not exist
2024-08-31 23:06:01,611 WARN metastore.ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- added: string (nullable = true)

+---+----------+----------+--------------------+----------+--------------------+
| id|first_name| last_name|               email| birthdate|               added|
+---+----------+----------+--------------------+----------+--------------------+
|  1|    Walton|     Adams|barmstrong@exampl...|1989-03-01|1997-01-02 04:18:...|
|  2|  Marietta|     Walsh|hand.stella@examp...|2018-05-30|2010-08-26 18:20:...|
|  3|      Lily|Wintheiser|darren.blanda@exa...|1981-08-21|1973-06-11 07:28:...|
|  4|   Estevan|   Gleason|shanahan.aliyah@e...|2013-07-17|1995-01-29 16:08:...|
|  5|  Thaddeus|      Rowe|bednar.robin@exam...|2019-02-26|2017-01-05 04:13:...|
|  6|    Cortez|    Russel|kennedi.stokes@ex...|1977-06-14|2007-03-02 10:19:...|
|  7|     Deion|     Yundt|lindgren.timmy@ex...|1970-09-02|1988-06-22 16:18:...|
|  8|  Caterina|Cartwright|lschroeder@exampl...|1986-10-04|2001-08-05 00:39:...|
|  9|     Rylee|     Morar|barton.wuckert@ex...|2003-11-23|1991-09-23 17:09:...|
| 10|    Dewitt|   Smitham|  yfadel@example.org|1995-12-17|1997-05-09 04:35:...|
+---+----------+----------+--------------------+----------+--------------------+

In [3]:
authorsDF = spark.sql(""" select first_name, last_name,email 
                          from mydb.authors
                          where email like '%org'
                          limit 10""")
authorsDF.printSchema()
authorsDF.show(truncate=False)

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)

+----------+----------+---------------------------+
|first_name|last_name |email                      |
+----------+----------+---------------------------+
|Lily      |Wintheiser|darren.blanda@example.org  |
|Dewitt    |Smitham   |yfadel@example.org         |
|Willard   |Wilderman |virgil45@example.org       |
|Jazlyn    |Osinski   |philip.schaden@example.org |
|America   |Marquardt |ulockman@example.org       |
|Alvis     |Crist     |kennith25@example.org      |
|Thurman   |Lesch     |mauricio.harris@example.org|
|Tad       |Bechtelar |jada.grant@example.org     |
|Dudley    |Kirlin    |lauretta82@example.org     |
|Marcelino |Tremblay  |lenora.fritsch@example.org |
+----------+----------+---------------------------+

In [4]:
#1.3
authorsDF = spark.sql("""select first_name, last_name,birthdate
                         from mydb.authors
                         where birthdate >= '2000-01-01' 
                         limit 10""")

authorsDF.printSchema()
authorsDF.show(truncate=False)

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- birthdate: string (nullable = true)

+----------+---------+----------+
|first_name|last_name|birthdate |
+----------+---------+----------+
|Marietta  |Walsh    |2018-05-30|
|Estevan   |Gleason  |2013-07-17|
|Thaddeus  |Rowe     |2019-02-26|
|Rylee     |Morar    |2003-11-23|
|Skye      |Powlowski|2012-08-26|
|Brenda    |Mayer    |2015-03-10|
|Raina     |Volkman  |2007-05-03|
|Dahlia    |Wiegand  |2005-09-29|
|Doyle     |Fay      |2004-03-11|
|Beaulah   |Jaskolski|2005-06-27|
+----------+---------+----------+

In [6]:
salesDF = spark.read.option("header","true").csv("sales.csv")
salesDF.show(5)

+--------------------+-------+----------+------------+-------------+---------+---------+--------+------------+----------+-----------+
|              Region|Country|  ItemType|SalesChannel|OrderPriority|UnitsSold|UnitPrice|UnitCost|TotalRevenue| TotalCost|TotalProfit|
+--------------------+-------+----------+------------+-------------+---------+---------+--------+------------+----------+-----------+
|Middle East and N...|  Libya| Cosmetics|     Offline|            M|     8446|    437.2|  263.33|   3692591.2|2224085.18| 1468506.02|
|       North America| Canada|Vegetables|      Online|            M|     3018|   154.06|   90.93|   464953.08| 274426.74|  190526.34|
|Middle East and N...|  Libya| Baby Food|     Offline|            C|     1517|   255.28|  159.42|   387259.76| 241840.14|  145419.62|
|                Asia|  Japan|    Cereal|     Offline|            C|     3322|    205.7|  117.11|    683335.4| 389039.42|  294295.98|
|  Sub-Saharan Africa|   Chad|    Fruits|     Offline|            H|     9845|     9.33|    6.92|    91853.85|   68127.4|   23726.45|
+--------------------+-------+----------+------------+-------------+---------+---------+--------+------------+----------+-----------+
only showing top 5 rows

In [8]:
salesDF.createOrReplaceTempView("sales")

In [46]:
authorPhoneDF= spark.sql(""" SELECT * FROM 
 json.`/user/student/author_phone.json` 
 LIMIT 10 """) 

authorPhoneDF.createOrReplaceTempView("author_phone")
authorPhoneDF.show()

2024-09-01 00:00:33,818 WARN metastore.ObjectStore: Failed to get database json, returning NoSuchObjectException

+---------+--------------------+
|author_id|         phone_model|
+---------+--------------------+
|        1|Samsung Galaxy s2...|
|        2| Samsung Galaxy A52s|
|        3|Samsung Galaxy Z ...|
|        4|      Apple iPhone 7|
|        5|     Apple iPhone 11|
|        6|  Samsung Galaxy A12|
|        7|Samsung Galaxy A5...|
|        8| Samsung Galaxy A52s|
|        9|Samsung Galaxy No...|
|       10|                    |
+---------+--------------------+

In [14]:
#3
!pip install sparksql-magic

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sparksql-magic in ./.local/lib/python3.8/site-packages (0.0.3)
Requirement already satisfied: pyspark>=2.3.0 in /usr/local/spark3/spark-3.1.2-bin-hadoop3.2/python (from sparksql-magic) (3.1.2)
Requirement already satisfied: ipython>=7.4.0 in /usr/local/lib/python3.8/site-packages (from sparksql-magic) (7.26.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/site-packages (from ipython>=7.4.0->sparksql-magic) (56.0.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.8/site-packages (from ipython>=7.4.0->sparksql-magic) (0.18.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/site-packages (from ipython>=7.4.0->sparksql-magic) (5.0.9)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/site-packages (from ipython>=7.4.0->sparksql-magic) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/site-packages (from ipython>=7.4.0->sparksql-magic) (5.0.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.8/site-packages (from ipython>=7.4.0->sparksql-magic) (3.0.19)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/site-packages (from ipython>=7.4.0->sparksql-magic) (2.10.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/site-packages (from ipython>=7.4.0->sparksql-magic) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.8/site-packages (from ipython>=7.4.0->sparksql-magic) (0.1.2)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.8/site-packages (from ipython>=7.4.0->sparksql-magic) (4.8.0)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.8/site-packages (from pyspark>=2.3.0->sparksql-magic) (0.10.9)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/site-packages (from jedi>=0.16->ipython>=7.4.0->sparksql-magic) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/site-packages (from pexpect>4.3->ipython>=7.4.0->sparksql-magic) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.4.0->sparksql-magic) (0.2.5)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.8/site-packages (from traitlets>=4.2->ipython>=7.4.0->sparksql-magic) (0.2.0)

In [20]:
%load_ext sparksql_magic

The sparksql_magic extension is already loaded. To reload it, use:
  %reload_ext sparksql_magic

In [24]:
%%sparksql
select * from mydb.authors limit 10;

In [34]:
#4
authorsDF = spark.sql("select * from mydb.authors limit 10")
authorsDF.printSchema()
authorsDF.show()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- added: string (nullable = true)

+---+----------+----------+--------------------+----------+--------------------+
| id|first_name| last_name|               email| birthdate|               added|
+---+----------+----------+--------------------+----------+--------------------+
|  1|    Walton|     Adams|barmstrong@exampl...|1989-03-01|1997-01-02 04:18:...|
|  2|  Marietta|     Walsh|hand.stella@examp...|2018-05-30|2010-08-26 18:20:...|
|  3|      Lily|Wintheiser|darren.blanda@exa...|1981-08-21|1973-06-11 07:28:...|
|  4|   Estevan|   Gleason|shanahan.aliyah@e...|2013-07-17|1995-01-29 16:08:...|
|  5|  Thaddeus|      Rowe|bednar.robin@exam...|2019-02-26|2017-01-05 04:13:...|
|  6|    Cortez|    Russel|kennedi.stokes@ex...|1977-06-14|2007-03-02 10:19:...|
|  7|     Deion|     Yundt|lindgren.timmy@ex...|1970-09-02|1988-06-22 16:18:...|
|  8|  Caterina|Cartwright|lschroeder@exampl...|1986-10-04|2001-08-05 00:39:...|
|  9|     Rylee|     Morar|barton.wuckert@ex...|2003-11-23|1991-09-23 17:09:...|
| 10|    Dewitt|   Smitham|  yfadel@example.org|1995-12-17|1997-05-09 04:35:...|
+---+----------+----------+--------------------+----------+--------------------+

In [40]:
joinDF = authorsDF.join(authorPhoneDF,authorsDF.id == authorPhoneDF.author_id)

In [48]:
spark.sql(""" select a.first_name,a.last_name, b.phone_model
            from mydb.authors a
            join author_phone b
            on a.id = b.author_id
            limit 10""").show()

+----------+----------+--------------------+
|first_name| last_name|         phone_model|
+----------+----------+--------------------+
|    Walton|     Adams|Samsung Galaxy s2...|
|  Marietta|     Walsh| Samsung Galaxy A52s|
|      Lily|Wintheiser|Samsung Galaxy Z ...|
|   Estevan|   Gleason|      Apple iPhone 7|
|  Thaddeus|      Rowe|     Apple iPhone 11|
|    Cortez|    Russel|  Samsung Galaxy A12|
|     Deion|     Yundt|Samsung Galaxy A5...|
|  Caterina|Cartwright| Samsung Galaxy A52s|
|     Rylee|     Morar|Samsung Galaxy No...|
|    Dewitt|   Smitham|                    |
+----------+----------+--------------------+

In [52]:
%%sparksql

select a.first_name, a.last_name, b.phone_model, a.birthdate
    from mydb.authors a
    join author_phone b
    on a.id = b.author_id
    where b.phone_model = ""
    order By a.birthdate DESC
    LIMIT 10

In [53]:
#5

In [54]:
%%sparksql

show DATABASES;

In [55]:
spark.sql("USE mydb")

DataFrame[]

In [56]:
spark.sql("SHOW TABLES").show()

+--------+-----------------+-----------+
|database|        tableName|isTemporary|
+--------+-----------------+-----------+
|    mydb|      author_bday|      false|
|    mydb|          authors|      false|
|    mydb| authors_parquet2|      false|
|    mydb|             cars|      false|
|    mydb|      celebrities|      false|
|    mydb|       continents|      false|
|    mydb|        countries|      false|
|    mydb|employee_salaries|      false|
|    mydb|            posts|      false|
|        |     author_phone|       true|
|        |            sales|       true|
+--------+-----------------+-----------+

In [57]:
%%sparksql
CREATE TABLE spark_test(
    name string,
    age int)

2024-09-01 00:11:23,922 WARN analysis.ResolveSessionCatalog: A Hive serde table will be created as there is no table provider specified. You can set spark.sql.legacy.createHiveTableByDefault to false so that native data source table will be created instead.
2024-09-01 00:11:24,193 WARN session.SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
2024-09-01 00:11:24,404 WARN conf.HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
2024-09-01 00:11:24,404 WARN conf.HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
2024-09-01 00:11:24,405 WARN conf.HiveConf: HiveConf of name hive.stats.retries.wait does not exist
2024-09-01 00:11:24,440 WARN metastore.HiveMetaStore: Location: hdfs://localhost:9000/user/hive/warehouse/mydb.db/spark_test specified for non-external table:spark_test

In [58]:
spark.sql("DESC FORMATTED spark_test").show(20,False)

+----------------------------+------------------------------------------------------------+-------+
|col_name                    |data_type                                                   |comment|
+----------------------------+------------------------------------------------------------+-------+
|name                        |string                                                      |null   |
|age                         |int                                                         |null   |
|                            |                                                            |       |
|# Detailed Table Information|                                                            |       |
|Database                    |mydb                                                        |       |
|Table                       |spark_test                                                  |       |
|Owner                       |student                                                     |       |
|Created Time                |Sun Sep 01 00:11:24 KST 2024                                |       |
|Last Access                 |UNKNOWN                                                     |       |
|Created By                  |Spark 3.1.2                                                 |       |
|Type                        |MANAGED                                                     |       |
|Provider                    |hive                                                        |       |
|Table Properties            |[transient_lastDdlTime=1725117084]                          |       |
|Location                    |hdfs://localhost:9000/user/hive/warehouse/mydb.db/spark_test|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe          |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                    |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat  |       |
|Storage Properties          |[serialization.format=1]                                    |       |
|Partition Provider          |Catalog                                                     |       |
+----------------------------+------------------------------------------------------------+-------+

In [60]:
%%sparksql
INSERt INTO spark_test VALUES ("Henry",10)

In [61]:
%%sparksql
select * from spark_test;

In [62]:
spark.sql(""" ALTER TABLE spark_test 
 ADD COLUMNS (gender string) """)

DataFrame[]

In [71]:
#spark.sql("""ALTER TABLE spark_test ADD COLUMNS (gender STRING)""")
spark.sql("""INSERT INTO spark_test VALUES ("Shaun", 42, "Male")""")

DataFrame[]

In [72]:
%%sparksql
select * from spark_test;

In [73]:
###6

In [74]:
for db in spark.catalog.listDatabases():
    print(db)

Database(name='default', description='Default Hive database', locationUri='hdfs://localhost:9000/user/hive/warehouse')
Database(name='mydb', description='', locationUri='hdfs://localhost:9000/user/hive/warehouse/mydb.db')

In [75]:
spark.sql("SHOW DATABASES").show()

+---------+
|namespace|
+---------+
|  default|
|     mydb|
+---------+

In [76]:
spark.catalog.setCurrentDatabase("mydb")
for tb in spark.catalog.listTables():
    print(tb)

Table(name='author_bday', database='mydb', description=None, tableType='MANAGED', isTemporary=False)
Table(name='authors', database='mydb', description='Imported by sqoop on 2024/08/29 07:49:42', tableType='MANAGED', isTemporary=False)
Table(name='authors_parquet2', database='mydb', description=None, tableType='EXTERNAL', isTemporary=False)
Table(name='cars', database='mydb', description=None, tableType='MANAGED', isTemporary=False)
Table(name='celebrities', database='mydb', description='Imported by sqoop on 2024/08/25 09:56:52', tableType='MANAGED', isTemporary=False)
Table(name='continents', database='mydb', description=None, tableType='EXTERNAL', isTemporary=False)
Table(name='countries', database='mydb', description='Imported by sqoop on 2024/08/25 10:43:25', tableType='MANAGED', isTemporary=False)
Table(name='employee_salaries', database='mydb', description=None, tableType='MANAGED', isTemporary=False)
Table(name='posts', database='mydb', description='Imported by sqoop on 2024/08/25 04:31:52', tableType='MANAGED', isTemporary=False)
Table(name='spark_test', database='mydb', description=None, tableType='MANAGED', isTemporary=False)
Table(name='author_phone', database=None, description=None, tableType='TEMPORARY', isTemporary=True)
Table(name='sales', database=None, description=None, tableType='TEMPORARY', isTemporary=True)

In [77]:
spark.sql("Use mydb")
spark.sql("SHOW TABLES").show()

+--------+-----------------+-----------+
|database|        tableName|isTemporary|
+--------+-----------------+-----------+
|    mydb|      author_bday|      false|
|    mydb|          authors|      false|
|    mydb| authors_parquet2|      false|
|    mydb|             cars|      false|
|    mydb|      celebrities|      false|
|    mydb|       continents|      false|
|    mydb|        countries|      false|
|    mydb|employee_salaries|      false|
|    mydb|            posts|      false|
|    mydb|       spark_test|      false|
|        |     author_phone|       true|
|        |            sales|       true|
+--------+-----------------+-----------+

In [78]:
spark.catalog.listColumns("authors")

[Column(name='id', description=None, dataType='int', nullable=True, isPartition=False, isBucket=False),
 Column(name='first_name', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='last_name', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='email', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='birthdate', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='added', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False)]

# Chapter 6 - Lab 10